/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')


/* Asterisk wildcard selector to replace the browser's default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling*/
body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    /* General project design*/
    color: black;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flexbox;
    justify-content: space-between;
    align-items: baseline;


}

h1 {
    font-family: ubuntu, sans-serif;
}
    


/* Main content */
main {
    background-color: beige;
    /* Make the main element larger to lower the footer */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: grey;
}